.homerow0 {
  display: flex;
  margin-left: 10px;
  margin-top: 13px;
  width: 188px;
  height: 68px;
  align-items: flex-end
}
.homerow0unsupported0 {
  margin-left: 0;
  width: 68px;
  height: 100%
}
.style0 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.homerow1 {
  display: flex;
  margin-left: 232px;
  margin-top: 0;
  width: 915px;
  height: 38px;
  align-items: stretch
}
.style3,
.style5 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style5 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 33px;
  margin-left: 0;
  width: 502px
}
.style3 {
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 88px;
  width: 154px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style4 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style1 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 17px;
  width: 154px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style2 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.homerow2,
.style16 {
  display: flex;
  align-items: stretch
}
.homerow2 {
  margin-top: 0;
  height: 38px;
  margin-left: 10px;
  width: 184px
}
.style16 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-left: 0;
  width: 71px;
  flex-direction: column;
  justify-content: center
}
.style17 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style18 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 112px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style19 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.homerow3 {
  display: flex;
  margin-left: 10px;
  margin-top: 13px;
  width: 1186px;
  height: 295px
}
.style7 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 763px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style10,
.style11,
.style12,
.style13,
.style14,
.style15,
.style8,
.style9 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 0;
  height: 30px
}
.homerow3column1 {
  display: flex;
  margin-left: 14px;
  margin-top: 100px;
  width: 68px;
  height: 161px;
  align-items: stretch;
  flex-direction: column
}
.homerow3column1unsupported1 {
  margin-top: 0;
  height: 68px
}
.homerow3column1unsupported2 {
  margin-top: 24px;
  height: 68px
}
.homerow3column2,
.style20 {
  display: flex;
  flex-direction: column
}
.homerow3column2 {
  margin-left: 0;
  margin-top: 24px;
  width: 340px;
  height: 299px;
  align-items: center
}
.style20 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-top: 0;
  width: 100%;
  height: 38px;
  align-items: stretch;
  justify-content: center
}
.style21 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style22 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 14px;
  width: 100%;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style23 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style24 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 43px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style25,
.style26 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style25 {
  text-align: center;
  height: 19px
}
.style26 {
  margin-top: 36px;
  width: 330px
}
.Loginrow0,
.homeunsupported3 {
  margin-left: 787px;
  margin-top: 0;
  width: 68px;
  height: 68px
}
.Loginrow0 {
  display: flex;
  margin-left: 13px;
  margin-top: 10px;
  width: 188px;
  align-items: flex-end
}
.Loginrow0unsupported0 {
  margin-left: 0;
  width: 68px;
  height: 100%
}
.style27 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.Loginrow1,
.style43 {
  position: relative;
  display: flex;
  margin-left: 13px;
  margin-top: 0;
  width: 1184px;
  height: 68px
}
.style43 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-left: 0;
  margin-top: 37px;
  width: 71px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style44 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style45 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 37px;
  width: 112px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style32,
.style46 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style46 {
  text-align: center;
  height: 19px
}
.style32 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 33px;
  margin-left: 38px;
  width: 502px;
  height: 36px;
  align-self: center;
  flex-shrink: 0
}
.Loginrow1unsupported1,
.style30 {
  margin-left: 53px;
  width: 68px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style30 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 31px;
  width: 154px;
  height: 38px;
  align-self: center;
  flex-direction: column
}
.Loginrow1button1unsupported4 {
  position: relative;
  margin-left: 54px;
  margin-top: 6px;
  width: 68px;
  height: 68px;
  flex-shrink: 0
}
.style31 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 10px;
  height: 19px;
  align-self: stretch;
  flex-shrink: 0
}
.style28 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 154px;
  height: 38px;
  align-items: stretch;
  align-self: center;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style29 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style55 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 675px;
  margin-top: 7px;
  width: 515px;
  height: 258px;
  flex-direction: column
}
.style56 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 206px;
  margin-top: 0;
  height: 40px
}
.Logincontainer0row1 {
  display: flex;
  margin-left: 28px;
  margin-top: 0;
  width: 440px;
  height: 38px;
  align-items: stretch
}
.style57,
.style59 {
  font-family: BalsamiqSans,serif
}
.style57 {
  font-weight: 700;
  font-size: 1.1875em;
  margin-left: 0
}
.style59 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 14px;
  margin-left: 41px;
  width: 285px
}
.Logincontainer0row2 {
  display: flex;
  margin-left: 28px;
  margin-top: 11px;
  width: 440px;
  height: 38px;
  align-items: stretch
}
.style58,
.style61,
.style63 {
  font-family: BalsamiqSans,serif
}
.style58 {
  font-weight: 700;
  margin-left: 0;
  font-size: 1.1875em
}
.style61,
.style63 {
  font-size: 1.125em
}
.style61 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  width: 285px;
  margin-left: 56px
}
.style63 {
  color: #00000a;
  margin-left: 333px;
  margin-top: 17px;
  height: 30px
}
.style64 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 235px;
  margin-top: 9px;
  width: 125px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style65 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.Loginrow3,
.style34 {
  position: relative;
  display: flex
}
.Loginrow3 {
  margin-top: 135px;
  margin-left: 13px;
  width: 1186px;
  height: 295px
}
.style34 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 0;
  width: 763px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style35,
.style36,
.style37,
.style38,
.style39,
.style40,
.style41,
.style42 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 0;
  height: 30px
}
.Loginrow3unsupported3 {
  margin-left: 14px;
  margin-top: 204px;
  width: 68px;
  height: 68px
}
.Loginrow3column2,
.style47 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.Loginrow3column2 {
  margin-left: 0;
  width: 340px;
  margin-top: 10px;
  height: 248px
}
.style47 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-top: 0;
  height: 38px;
  justify-content: center
}
.style48 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style49 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 13px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style50 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style51 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 38px;
  height: 43px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style52 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style53 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 38px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style54 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.purchaserow0 {
  position: relative;
  display: flex;
  margin-left: 37px;
  margin-top: 4px;
  width: 1118px;
  height: 69px
}
.style66 {
  font-family: BalsamiqSans,serif;
  font-size: 1.375em;
  font-weight: 700;
  position: relative;
  margin-left: 0;
  margin-top: 43px;
  height: 36px;
  flex-shrink: 0
}
.purchaserow0unsupported2,
.style119 {
  margin-left: 98px;
  width: 69px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style119 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 16px;
  width: 155px;
  height: 39px;
  align-items: stretch;
  align-self: flex-end;
  flex-direction: column;
  justify-content: center
}
.style120 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.purchaserow1 {
  position: relative;
  display: flex;
  margin-left: 55px;
  margin-top: 29px;
  width: 1039px;
  height: 39px
}
.style67,
.style68 {
  font-family: BalsamiqSans,serif;
  position: relative
}
.style67 {
  font-weight: 700;
  margin-top: 14px;
  height: 33px;
  flex-shrink: 0;
  font-size: 1.25em;
  margin-left: 0
}
.style68 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 14px;
  margin-left: 29px;
  width: 430px
}
.style68,
.style72,
.style73,
.style75 {
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style72 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-left: 33px
}
.style73,
.style75 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style73 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 14px;
  margin-left: 22px;
  width: 76px
}
.style75 {
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 60px;
  width: 162px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style76 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style70,
.style77 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style70 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 14px;
  height: 132px;
  margin-left: 269px;
  margin-top: 4px;
  width: 430px
}
.style77 {
  margin-left: 63px;
  margin-top: 70px;
  width: 1075px;
  align-items: stretch;
  flex-direction: column
}
.purchasecontainer0row0,
.style77,
.style78 {
  display: flex;
  height: 318px
}
.style78 {
  margin-left: 0;
  width: 49px;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style78,
.style79,
.style95 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style95 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 14px;
  margin-top: 68px;
  width: 26px;
  height: 24px
}
.style79 {
  display: flex;
  margin-left: 0;
  width: 82px;
  height: 100%;
  align-items: stretch;
  flex-direction: column
}
.style82,
.style97 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style82 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  margin-top: 0;
  height: 45px
}
.style97 {
  margin-top: 20px;
  height: 30px
}
.style80 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 322px;
  height: 100%;
  flex-direction: column
}
.style84,
.style99 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style84 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  width: 100%;
  margin-top: 0;
  height: 45px
}
.style99 {
  margin-top: 20px;
  height: 30px
}
.purchasecontainer0row0column3 {
  display: flex;
  margin-left: 0;
  width: 157px;
  height: 95px;
  align-items: stretch;
  flex-direction: column
}
.style86,
.style98 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style86 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  margin-top: 0;
  height: 45px
}
.style98 {
  margin-top: 20px;
  height: 30px
}
.style81,
.style88 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style81 {
  display: flex;
  margin-left: 609px;
  flex-direction: column;
  width: 122px;
  height: 100%
}
.style88 {
  text-indent: 14px;
  margin-top: 0;
  width: 100%;
  height: 45px;
  align-self: stretch
}
.style100,
.style102,
.style88 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style100 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  margin-left: 14px;
  width: 76px;
  margin-top: 16px;
  height: 39px
}
.style102 {
  color: #00000a;
  margin-top: 0;
  height: 30px;
  align-self: center
}
.purchasecontainer0row0column5 {
  display: flex;
  margin-left: 0;
  width: 227px;
  height: 95px;
  flex-direction: column
}
.style103,
.style91 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style91 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  width: 100%;
  align-self: stretch;
  margin-top: 0;
  height: 45px
}
.style103 {
  margin-left: 27px;
  margin-top: 20px;
  height: 30px
}
.style90 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 954px;
  width: 121px;
  height: 100%;
  flex-direction: column
}
.style104,
.style93 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style93 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  width: 100%;
  align-self: stretch;
  margin-top: 0;
  height: 45px
}
.style104 {
  margin-left: 10px;
  margin-top: 20px;
  height: 30px
}
.purchaseunsupported0 {
  position: relative;
  margin-left: 55px;
  margin-top: 427px;
  width: 69px;
  height: 69px
}
.style105 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 63px;
  margin-top: 171px;
  width: 1075px;
  height: 141px;
  flex-direction: column
}
.purchasecontainer6row0,
.style106 {
  position: relative;
  display: flex;
  height: 39px
}
.purchasecontainer6row0 {
  align-self: center;
  margin-top: 17px;
  width: 1048px
}
.style106 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-left: 0;
  margin-top: 13px;
  width: 137px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style107 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style116 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 23px;
  margin-top: 13px;
  width: 137px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style108,
.style117 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style117 {
  text-align: center;
  height: 19px
}
.style108 {
  margin-left: 523px;
  height: 30px;
  align-self: center;
  flex-shrink: 0
}
.purchasecontainer6row1 {
  display: flex;
  margin-left: 148px;
  margin-top: 23px;
  width: 894px;
  height: 39px;
  align-items: stretch
}
.style123 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  font-weight: 700;
  position: relative;
  margin-left: 0
}
.style109,
.style121 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style121 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 14px;
  margin-left: 0;
  width: 776px
}
.style109 {
  display: flex;
  margin-left: 63px;
  margin-top: 14px;
  width: 1075px;
  height: 147px;
  flex-direction: column
}
.purchasecontainer7row0 {
  display: flex;
  margin-top: 7px;
  width: 1059px;
  height: 69px;
  align-items: center
}
.purchasecontainer7row0unsupported1,
.style110 {
  margin-left: 0;
  width: 69px;
  height: 100%
}
.style110 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  width: 343px;
  height: 43px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style111 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style114 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 256px;
  width: 155px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style115 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style112 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 29px;
  width: 207px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style113,
.style118 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style113 {
  text-align: center;
  height: 19px
}
.style118 {
  margin-left: 11px;
  margin-top: 11px;
  width: 394px
}
.invoicerow0 {
  display: flex;
  margin-left: 474px;
  margin-top: 12px;
  width: 684px;
  height: 72px
}
.style127 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  font-weight: 700;
  margin-left: 0;
  height: 39px;
  align-self: flex-end
}
.invoicerow0unsupported3 {
  margin-left: 87px;
  width: 72px;
  height: 100%;
  align-self: stretch
}
.style135 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 24px;
  width: 161px;
  height: 40px;
  align-items: stretch;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style136 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.invoicerow1 {
  display: flex;
  margin-left: 126px;
  margin-top: 0;
  width: 584px;
  height: 31px;
  align-items: stretch
}
.style126,
.style134 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style126 {
  margin-left: 190px
}
.invoicerow2 {
  display: flex;
  margin-left: 126px;
  margin-top: 48px;
  width: 698px;
  height: 31px;
  align-items: stretch
}
.style124,
.style125 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style125 {
  margin-left: 218px
}
.invoiceunsupported0 {
  margin-left: 126px;
  margin-top: 10px;
  width: 814px;
  height: 151px
}
.invoicerow4 {
  display: flex;
  margin-left: 652px;
  margin-top: 0;
  width: 288px;
  height: 36px;
  align-items: stretch
}
.invoicerow4unsupported1 {
  margin-left: 0;
  width: 163px
}
.invoicerow4unsupported2 {
  margin-left: 0;
  width: 126px
}
.invoicerow5 {
  position: relative;
  display: flex;
  margin-left: 132px;
  margin-top: 33px;
  width: 922px;
  height: 40px
}
.invoicerow5checkbox0 {
  margin-left: 0;
  width: 21px;
  height: 21px;
  align-self: center;
  flex-shrink: 0
}
.style132,
.style133 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 9px;
  height: 19px;
  align-self: center;
  flex-shrink: 0
}
.style132 {
  color: #00000a;
  margin-left: 0;
  height: 31px
}
.style128 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 578px;
  margin-top: 15px;
  width: 161px;
  height: 40px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style129 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style130 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  width: 152px;
  height: 40px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style131 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style149 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 927px;
  margin-top: 31px;
  width: 154px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style137,
.style150 {
  font-family: BalsamiqSans,serif
}
.style150 {
  text-align: center;
  font-size: 1.125em;
  height: 19px
}
.style137 {
  font-size: 1.375em;
  font-weight: 700;
  margin-left: 136px;
  margin-top: 47px;
  height: 36px
}
.trackoderrow2 {
  display: flex;
  margin-left: 136px;
  margin-top: 19px;
  width: 644px;
  height: 39px;
  align-items: stretch
}
.style138,
.style139 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style139 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 14px;
  margin-left: 33px;
  width: 356px
}
.trackoderrow3 {
  display: flex;
  margin-left: 136px;
  margin-top: 6px;
  width: 644px;
  height: 39px;
  align-items: stretch
}
.style141 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style142,
.style144 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style142 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 14px;
  margin-left: 77px;
  width: 356px
}
.style144 {
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 667px;
  margin-top: 19px;
  width: 113px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style145,
.style146 {
  font-family: BalsamiqSans,serif
}
.style145 {
  text-align: center;
  font-size: 1.125em;
  height: 19px
}
.style146 {
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 518px;
  margin-top: 0;
  height: 33px
}
.style147 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 359px;
  margin-top: 27px;
  width: 431px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style148 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.trackoderdetailsrow0 {
  display: flex;
  margin-left: 904px;
  margin-top: 28px;
  width: 266px;
  height: 70px;
  align-items: center
}
.trackoderdetailsrow0unsupported3 {
  margin-left: 0;
  width: 70px;
  height: 100%
}
.style156 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 38px;
  width: 158px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style157 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style151,
.style152,
.style153 {
  font-family: BalsamiqSans,serif;
  margin-left: 142px
}
.style151 {
  font-size: 1.125em;
  width: 778px;
  margin-top: 51px
}
.style152,
.style153 {
  margin-top: 16px
}
.style152 {
  width: 401px;
  font-size: 1.125em
}
.style153 {
  font-size: 1.25em;
  font-weight: 700;
  height: 34px
}
.trackoderdetailsunsupported0 {
  margin-left: 142px;
  margin-top: 23px;
  width: 778px;
  height: 112px
}
.trackoderdetailsrow5 {
  display: flex;
  margin-left: 648px;
  margin-top: 0;
  width: 274px;
  height: 47px;
  align-items: stretch
}
.trackoderdetailsrow5unsupported1 {
  margin-left: 0;
  width: 152px
}
.trackoderdetailsrow5unsupported2 {
  margin-left: 0;
  width: 123px
}
.style154 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 842px;
  margin-top: 45px;
  width: 77px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style155,
.style158 {
  font-family: BalsamiqSans,serif
}
.style155 {
  text-align: center;
  font-size: 1.125em;
  height: 19px
}
.style158 {
  font-size: 1.6875em;
  font-weight: 700;
  margin-left: 46px;
  margin-top: 56px;
  height: 41px
}
.signuprow1 {
  display: flex;
  margin-left: 46px;
  margin-top: 25px;
  width: 871px;
  height: 40px;
  align-items: stretch
}
.style159,
.style161 {
  font-family: BalsamiqSans,serif
}
.style161 {
  font-weight: 700;
  font-size: 1.4375em;
  margin-left: 0
}
.style159 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 351px;
  width: 379px
}
.signuprow2 {
  display: flex;
  margin-left: 34px;
  margin-top: 22px;
  width: 883px;
  height: 71px
}
.signuprow2unsupported0 {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 71px;
  height: 100%;
  flex-direction: column;
  justify-content: center
}
.style162,
.style163 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style162 {
  font-weight: 700;
  position: relative;
  flex-shrink: 0;
  margin-left: 56px;
  height: 31px
}
.style163 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 15px;
  margin-left: 433px;
  width: 379px;
  height: 40px
}
.signuprow3 {
  position: relative;
  display: flex;
  margin-left: 46px;
  margin-top: 0;
  width: 871px;
  height: 40px
}
.style165,
.style166,
.style169 {
  font-family: BalsamiqSans,serif
}
.style165 {
  font-weight: 700;
  position: relative;
  margin-left: 0;
  margin-top: 13px;
  height: 37px;
  flex-shrink: 0;
  font-size: 1.4375em
}
.style166,
.style169 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  width: 379px
}
.style166 {
  align-self: stretch;
  flex-shrink: 0;
  margin-left: 310px;
  height: 100%
}
.style169 {
  margin-left: 538px;
  margin-top: 25px;
  height: 40px
}
.style168 {
  font-size: 1.4375em;
  font-weight: 700;
  margin-left: 46px;
  height: 37px
}
.style168,
.style171,
.style172 {
  font-family: BalsamiqSans,serif;
  margin-top: 0
}
.style172 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 15px;
  width: 379px;
  font-size: 1.125em;
  margin-left: 538px;
  height: 40px
}
.style171 {
  font-size: 1.4375em;
  font-weight: 700;
  margin-left: 46px;
  height: 37px
}
.style174 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 351px;
  margin-top: 19px;
  width: 273px;
  height: 40px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style175 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.signuprow9 {
  display: flex;
  margin-left: 303px;
  margin-top: 41px;
  width: 427px;
  height: 40px;
  align-items: stretch
}
.style176,
.style177,
.style178 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style176 {
  margin-left: 0;
  font-size: 1.5em
}
.style177,
.style178 {
  font-size: 1.4375em
}
.style177 {
  color: #00000a;
  margin-left: 13px
}
.style178 {
  margin-left: 135px;
  margin-top: 28px;
  height: 37px
}
.signupaddressrow1 {
  position: relative;
  display: flex;
  margin-left: 135px;
  margin-top: 30px;
  width: 701px;
  height: 40px;
  align-items: center
}
.style179,
.style180 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0
}
.style179 {
  font-weight: 700;
  position: relative;
  font-size: 1.4375em;
  margin-left: 0;
  height: 37px
}
.style180 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 74px;
  width: 442px;
  height: 100%
}
.signupaddressrow2 {
  display: flex;
  margin-left: 135px;
  margin-top: 27px;
  width: 701px;
  height: 40px;
  align-items: stretch
}
.style182,
.style183 {
  font-family: BalsamiqSans,serif
}
.style182 {
  font-weight: 700;
  font-size: 1.4375em;
  margin-left: 0
}
.style183 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 100px;
  width: 442px
}
.signupaddressrow3 {
  display: flex;
  margin-left: 135px;
  margin-top: 30px;
  width: 701px;
  height: 40px;
  align-items: stretch
}
.style185,
.style186 {
  font-family: BalsamiqSans,serif
}
.style185 {
  font-weight: 700;
  font-size: 1.4375em;
  margin-left: 0
}
.style186 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 101px;
  width: 442px
}
.signupaddressrow4 {
  display: flex;
  margin-left: 135px;
  margin-top: 21px;
  width: 701px;
  height: 40px;
  align-items: stretch
}
.style188,
.style189 {
  font-family: BalsamiqSans,serif
}
.style188 {
  font-weight: 700;
  font-size: 1.4375em;
  margin-left: 0
}
.style189 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 173px;
  width: 442px
}
.signupaddressrow5 {
  display: flex;
  margin-left: 131px;
  margin-top: 21px;
  width: 715px;
  height: 146px
}
.style191 {
  font-family: BalsamiqSans,serif;
  font-size: 1.4375em;
  font-weight: 700;
  margin-left: 0;
  height: 37px
}
.signupaddressrow5unsupported0 {
  margin-left: 264px;
  width: 451px;
  height: 100%
}
.signupaddressrow6 {
  display: flex;
  margin-left: 344px;
  margin-top: 34px;
  width: 289px;
  height: 31px;
  align-items: stretch
}
.signupaddressrow6radiobutton0 {
  margin-left: 0;
  width: 21px
}
.style197 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 9px
}
.style194 {
  color: #00000a
}
.style194,
.style195,
.style196 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style196 {
  color: #00000a
}
.style192 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 319px;
  margin-top: 42px;
  width: 302px;
  height: 40px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style193 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.uploadprescriptionrow0 {
  display: flex;
  margin-left: 13px;
  margin-top: 10px;
  width: 188px;
  height: 68px;
  align-items: flex-end
}
.uploadprescriptionrow0unsupported0 {
  margin-left: 0;
  width: 68px;
  height: 100%
}
.style198 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style212,
.uploadprescriptionrow1 {
  position: relative;
  display: flex;
  margin-left: 13px;
  margin-top: 0;
  width: 1170px;
  height: 68px
}
.style212 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-left: 0;
  margin-top: 38px;
  width: 71px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style213 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style214 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 38px;
  width: 112px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style201,
.style215 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style215 {
  text-align: center;
  height: 19px
}
.style201 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 33px;
  margin-left: 38px;
  width: 502px;
  height: 36px;
  align-self: center;
  flex-shrink: 0
}
.style199,
.uploadprescriptionrow1unsupported4 {
  margin-left: 164px;
  width: 68px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style199 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 60px;
  width: 154px;
  height: 38px;
  align-items: stretch;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style200 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.uploadprescriptionrow2 {
  display: flex;
  margin-left: 13px;
  margin-top: 21px;
  width: 1186px;
  height: 295px
}
.style203 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 763px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style204,
.style205,
.style206,
.style207,
.style208,
.style209,
.style210,
.style211 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 0;
  height: 30px
}
.uploadprescriptionrow2unsupported1 {
  margin-left: 14px;
  width: 68px;
  height: 68px;
  align-self: center
}
.style216,
.uploadprescriptionrow2column2 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 10px;
  width: 340px;
  height: 316px;
  flex-direction: column
}
.style216 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-left: 68px;
  margin-top: 0;
  width: 339px;
  height: 38px;
  align-items: stretch;
  flex-shrink: 0;
  justify-content: center
}
.style217 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style218 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 68px;
  margin-top: 13px;
  width: 339px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style219 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.style220 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 68px;
  margin-top: 38px;
  width: 340px;
  height: 43px;
  flex-direction: column;
  flex-shrink: 0
}
.style221 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 13px;
  height: 19px;
  align-self: stretch;
  flex-shrink: 0
}
.uploadprescriptionrow2column2button5unsupported3 {
  position: relative;
  margin-left: 256px;
  margin-top: 0;
  width: 68px;
  height: 68px;
  flex-shrink: 0
}
.style224 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 0;
  width: 327px;
  height: 145px;
  flex-direction: column;
  flex-shrink: 0
}
.uploadprescriptionrow2column2container0row0 {
  display: flex;
  margin-left: 13px;
  margin-top: 11px;
  width: 278px;
  height: 38px;
  align-items: stretch
}
.style225 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 132px;
  flex-direction: column
}
.style226 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-top: 10px;
  height: 19px;
  align-self: stretch;
  flex-shrink: 0
}
.style222 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 56px;
  margin-top: 0;
  width: 339px;
  height: 38px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style223 {
  text-align: center;
  height: 19px
}
.style223,
.style227,
.style228 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em
}
.style228 {
  margin-left: 16px
}
.style227 {
  margin-top: 0;
  width: 100%;
  align-self: stretch
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.Paymentgatewayrow0 {
  display: flex;
  margin-left: 42px;
  margin-top: 98px;
  width: 969px;
  height: 282px
}
.style229 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 0;
  width: 357px;
  height: 42px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style230 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 20px
}
.Paymentgatewayrow0column0,
.style231 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.Paymentgatewayrow0column0 {
  margin-left: 0;
  width: 357px;
  height: 298px
}
.style231 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  margin-top: 84px;
  height: 42px;
  justify-content: center
}
.style232 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 20px
}
.style233 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 48px;
  height: 42px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style234 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 20px
}
.style235 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-top: 39px;
  height: 42px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style236 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 20px
}
.style237 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  margin-left: 51px;
  width: 561px;
  height: 100%;
  flex-direction: column
}
.style238 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 11px;
  margin-top: 25px;
  width: 348px
}
.style239 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 196488293574771050000px 196488293574771050000px 0 0 #000;
  display: flex;
  margin-left: 168px;
  margin-top: 31px;
  width: 193px;
  height: 42px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style240 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 20px
}